<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="org.dorageecorp.main.dao.MainMapper">

	<select id="selectTotalProjects" resultType="org.dorageecorp.main.model.Project">
		SELECT projectPK, projectKey, projectName, managerId, category, creatorId, createdDate, modifierId, modifiedDate
		FROM tProject
		ORDER BY createdDate DESC;
	</select>

	<select id="selectMyProjects" parameterType="String" resultType="org.dorageecorp.main.model.Project">
		SELECT projectPK, projectKey, projectName, managerId, category, creatorId, createdDate, modifierId, modifiedDate
		FROM tProject
		WHERE  creatorId = #{userId}
		ORDER BY createdDate DESC;
	</select>
</mapper>